<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="../static/images/logo.png" href="favicon.ico" />
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Include Bootstrap Icons CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Include custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Portfolio Dashboard</title>
</head>

<body>
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg">
        <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
        <a class="navbar-brand" href="{{ url_for('home') }}">Portfolio Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-dark"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('transactions') }}">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('docs') }}">Docs</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="basebody">
        <!-- where page-specific content will be rendered -->
        <div class="main-content">
            {% block main %}
            <!-- main content will be here -->
            {% endblock %}
        </div>

        <!-- sidebar for basic financial info -->
        <div class="sidebar">
            <div class="scrollable-feed" id="scrollable-feed">
                <script
                    src="//rss.bloople.net/?url=https%3A%2F%2Ffeeds.a.dj.com%2Frss%2FRSSMarketsMain.xml&detail=30&showtitle=false&type=js"></script>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div id="footer">
        {% block footer %}
        &copy; 2023 - Portfolio Dashboard by Nathalie Redick, Minyi Ma, & Kara Sha.
        {% endblock %}
    </div>

    <script>
        // Get references to elements
        const scrollableFeed = document.getElementById('scrollable-feed');
        const sidebar = document.querySelector('.sidebar');
    
        // Function to update the max-height of the scrollable feed container
        function updateScrollableFeedHeight() {
            const sidebarHeight = sidebar.offsetHeight;
            const headerAndFooterHeight = 50; // Adjust this based on your layout
            const newMaxHeight = sidebarHeight - headerAndFooterHeight;
            scrollableFeed.style.maxHeight = `${newMaxHeight}px`;
        }
    
        // Initial call to set the initial height
        updateScrollableFeedHeight();
        window.addEventListener('resize', updateScrollableFeedHeight);
    </script>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</html>