{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h2>Home</h2>
    <p>
        This page breaks down the current state of your investment portfolio. If you want to make a new transaction,
        please visit the <a href="{{ url_for('transactions') }}">Transactions</a> page. For more details on how the
        portfolio is organized, please see the <a href="{{ url_for('about') }}">About</a> page.
    </p>

    <!-- table to display the current portfolio tickers for the user -->
    <div class="row"
        style="display: flex; justify-content: space-between; align-items: center; padding-left: 1%; padding-right: 1%;">
        <h4>Portfolio Assets</h4>
        <button type="button" class="btn btn-dark" id="fetch-data-button">Refresh Data</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Short Name</th>
                <th>Shares</th>
                <!-- <th>Total Return (All Time)</th> -->
                <th>Net Gain/Loss %</th> 
                <th>Market Value</th>
                <th>52-week High</th>
                <th>52-week Low</th>
                <th>Asset Type</th>
            </tr>
        </thead>
        <tbody id="portfolio-body">
            <tr>
                <td colspan="8">Loading data...</td>
            </tr>
        </tbody>
    </table>

    <!-- todo: add button/dropdown to select from tickers in portfolio and then show details for that ticker (company info, profit graph) -->
    <h4>View Detailed Info for a Ticker</h4>
    <div class="dropdown">
        <button type="button" class="btn btn-dark dropdown-toggle" id="dropdownMenu" data-toggle="dropdown"
            aria-haspopup="true">
            Select Ticker
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for ticker_data in portfolio_data %}
            <a type="button" class="dropdown-item" onclick="updateDropdownValue(this)">
                {{ticker_data.ticker_id}}</a>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-dark" onclick="loadDetail()">View Details</button>
    </div>

    <div class="container" id="tickerDetail">
        <div id="detailTable">
            <table class="table">
                <thead id="detailTableHeader">
                </thead>
                <tbody id="detailTableBody">
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <h4>Asset Type Breakdown</h4>
    <p>
        The asset type breakdown is calculated relative to the number of shares for each asset type, rather than the
        ticker.
    </p>
    <div class="container">
        <div class="chart-container">
            <canvas id="assetTypeChart"></canvas>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function AssetsBreakdown() {
            var ctx = document.getElementById('assetTypeChart').getContext('2d');

            fetch('/assets_breakdown')
                .then(response => response.json())
                .then(assetTypeData => {
                    var data = {
                        labels: Object.keys(assetTypeData),
                        datasets: [{
                            data: Object.values(assetTypeData),
                            backgroundColor: ['#6b9080', '#a4c3b2', '#cce3de', '#eaf4f4']
                        }]
                    };

                    // Create the pie chart
                    var myPieChart = new Chart(ctx, {
                        type: 'pie',
                        data: data
                    });
                })
                .catch(error => console.error('Error fetching data:', error));
        });

        AssetsBreakdown();
    </script>

    <script>
        function updateDropdownValue(item) {
            document.getElementById("dropdownMenu").innerHTML = item.innerHTML;
        }

        function loadDetail() {
            const id = document.getElementById("dropdownMenu").innerText;
            console.log("ticker_id: " + id)
            if (id == "Select Ticker ") {
                window.alert("Select a ticker to view detail")
                return
            }
            // const url = window.location.hostname + "/detail/" + document.getElementById("dropdownMenu").innerHTML;
            // window.location.href = url;
            fetch("/ticker_data/" + id)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    const transData = data[0].map((_, index) => data.map(subarray => subarray[index]))
                    console.log("transformed")
                    console.log(transData)
                    const tickerDetailTable = document.getElementById("detailTable")
                    tickerDetailTable.style = 'display: block;height: 300px;overflow-y: auto;'
                    const tickerDetailHeader = document.getElementById("detailTableHeader");
                    tickerDetailHeader.innerHTML = ` 
                        <tr>
                            <th>Date</th>
                            <th>Absolute Profit</th>
                            <th>Percent Profit</th>
                            <th>Open</th>
                            <th>Close</th>
                            <th>Low</th>
                            <th>High</th>
                            <th>Volume</th>
                        </tr>
                    `
                    const tickerDetailTableBody = document.getElementById("detailTableBody");
                    tickerDetailTableBody.innerHTML = `` // Clean table body after refresh
                    if (Object.keys(data).length === 0) {
                        const row = document.createElement("tr");
                        row.innerHTML = `<td colspan="8">No data available</td>`;
                        tickerDetailTableBody.appendChild(row);
                    } else {
                        const dates = []
                        for (const index in data) {
                            const detail = data[index];
                            const date = new Date(detail[8])
                            dates.push(date.toISOString().split("T")[0])
                            const row = document.createElement("tr");
                            row.innerHTML = `
                            <td>${date.toISOString().split("T")[0]}</td> 
                            <td>${detail[1]}</td>
                            <td>${detail[2] + '%'}</td>
                            <td>${detail[3]}</td>
                            <td>${detail[5]}</td>
                            <td>${detail[4]}</td>
                            <td>${detail[6]}</td>
                            <td>${detail[7]}</td>
                            `
                            tickerDetailTableBody.appendChild(row);
                        }

                        //Remove existing chart.
                        const totDiv = document.getElementById('tickerOverTimeDiv');
                        if (totDiv) {
                            totDiv.remove();
                        }

                        //Load Line chart
                        const tickerDetail = document.getElementById("tickerDetail");
                        const chart = document.createElement("div");
                        // chart.classList.add("chart-container");
                        chart.setAttribute('id', 'tickerOverTimeDiv');
                        chart.innerHTML = `
                            <p>Click on the attribute below to view different lines. 
                                Each line is hidden when there is a strikethrough on the attribute and vice versa. <p>
                            <canvas id="tickerOverTimeChart">
                            </canvas>
                            <br>
                        `
                        tickerDetail.insertBefore(chart, tickerDetail.children[0])
                        const ctx = document.getElementById("tickerOverTimeChart").getContext("2d");

                        const lineChart = new Chart(ctx, {
                            type: "line",
                            data: {
                                labels: dates,
                                datasets: [{
                                    label: 'Price ($)',
                                    data: transData[5]
                                },
                                {
                                    label: 'Absolute profit ($)',
                                    data: transData[1],
                                    hidden: true
                                },
                                {
                                    label: "Percentage Profit (%)",
                                    data: transData[2],
                                    hidden: true
                                },
                                {
                                    label: "Volume (shares)",
                                    data: transData[7],
                                    hidden: true
                                }
                                ]
                            },
                            options: {
                                legend: {
                                    labels: 'price'
                                }
                            }
                        })
                    }
                    updateScrollableFeedHeight(); // leave this here please
                })
                .catch(error => {
                    console.error("Error fetching data:", error);
                });
        }
    </script>

    <script>
        document.getElementById("fetch-data-button").addEventListener("click", fetchYFinanceData);

        function fetchYFinanceData() {
            fetch("/portfolio_table")
                .then(response => response.json())
                .then(data => {
                    // Data is fetched successfully, update the table
                    const portfolioBody = document.getElementById("portfolio-body");
                    portfolioBody.innerHTML = ""; // Clear existing rows

                    if (Object.keys(data).length === 0) {
                        const row = document.createElement("tr");
                        row.innerHTML = `<td colspan="8">No data available</td>`;
                        portfolioBody.appendChild(row);
                    } else {
                        for (const ticker_id in data) {
                            const row_data = data[ticker_id];
                            const row = document.createElement("tr");
                            row.innerHTML = `
                                    <td>${ticker_id}</td>
                                    <td>${row_data.name}</td>
                                    <td>${row_data.num_shares}</td>
                                    <td>${row_data.net_gainloss}</td>
                                    <td>${row_data.market_value}</td>
                                    <td>${row_data.high_52}</td>
                                    <td>${row_data.low_52}</td>
                                    <td>${row_data.asset_type}</td>
                                `;
                            portfolioBody.appendChild(row);
                        }
                    }
                    updateScrollableFeedHeight();
                })
                .catch(error => {
                    console.error("Error fetching data:", error);
                });
        }
        // fetch Yahoo Finance data when the page loads
        document.addEventListener("DOMContentLoaded", fetchYFinanceData);
    </script>
</div>
{% endblock %}