{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h2>Transactions</h2>

    <!-- form to buy/sell stock: text box for stock symbol, text box for number of shares, radio button for buy/sell, submit -->
    <form action="/buy_sell" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="ticker_id" placeholder="Stock Symbol"
                type="text" />
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="num_shares" placeholder="Number of Shares"
                type="text" />
        </div>
        <div class="form-group">
            <input type="radio" name="transaction_type" value="buy"> Buy<br>
            <input type="radio" name="transaction_type" value="sell"> Sell<br>
        </div>
        <div class="form-group">
            <button class="btn btn-dark" type="submit">Submit</button>
        </div>
    </form>

    <br>
    <h4>Transaction History</h4>
    <div class="table-container" style="max-height: 500px; overflow-y: auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>Transaction #</th>
                    <th>Ticker</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Transaction Type</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for data in transaction_history %}
                <tr>
                    <td>{{ data.transaction_num }}</td>
                    <td>{{ data.ticker_id }}</td>
                    <td>{{ data.num_shares }}</td>
                    <td>{{ data.price }}</td>
                    <td>{{ data.total }}</td>
                    <td>{{ data.transaction_type }}</td>
                    <td>{{ data.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}