/* Reset */
body,
html {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 1%;
    background-color: whitesmoke;
}

/* Navbar */
.navbar,
.navbar-nav li a,
.navbar-brand {
    background-color: #333;
    color: lightgrey;
}

.navbar-brand {
    font-size: x-large;
    font-weight: bold;
}

.navbar-nav li a {
    font-size: large;
}

/* ensure adequate spacing to the left of the nav links */
.navbar-nav {
    margin-left: auto;
}

/* config navbar links */
.navbar-nav li a:hover,
.navbar-brand:hover {
    color: white;
}

/* styling for the div with the sidebar and main-content */
#basebody {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 18vw;
    padding: 25px;
    background-color: #ced4d6;
    color: #333;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    color: #333;
    text-decoration: none;
}

/* Footer */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #333;
    font-size: small;
    color: lightgrey;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.chart-container {
    width: 300px;
    height: 300px;
    margin: auto;
}

#assetTypeChart {
    width: 100% !important;
    height: 100% !important;
}