{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h2>About</h2>
    <br>
    <!--
    <h4>User Portfolio Information</h4>
    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Total Holdings</th>
            </tr>
        </thead>
    </table>-->

    <h4>Introduction </h4>
    <p id="Intro">
        Our Portfolio Management System is an efficient gateway to diversified investment management. It connects with
        the worldwide spectrum of securities which include stocks, bonds, ETFs, mutual funds, etc. Our platform
        enables users to manage their portfolios with efficient tools and data visualizations. Each user would have
        their own user ID to keep their account manageable and private.
        The user interface design clearly displays the portfolio’s performance and the user’s financial information
        such as cash flow and total earnings. Our system helps the user improve financial visions which is capable of
        not only minimizing risk exposure but also optimizing decision making.</p>

    <h4>Key Features</h4>
    <ul>
        <li>
            <p><strong>Buy/Sell Functionality:</strong>
                The user can add and remove different types of securities in their portfolio by selecting the buy/sell
                radio buttons and entering the ticker symbol and the number of shares on the <a
                    href="{{ url_for('transactions') }}">Transactions</a> page. The system automatically updates the
                portfolio’s performance and the user’s financial information after each transaction.
            </p>
        </li>
        <li>
            <p><strong>Portfolio Tracking:</strong>
                Performance and information data for all the securities’ is
                tracked in the system, which are Total Return, Net Gain/Loss, Market Value, 52-week High, 52-week Low,
                and Asset
                type. The strong presentation of information enables the users to keep track of their as the number of
                shares held and buy-in the price of their securities.
            </p>
        </li>
        <li>
            <p><strong>Performance tracking:</strong>
                Users are able to see the trend of the security and the
                rate of returns with effective graphic presentations and numeric values.
            </p>
        </li>
        <li>
            <p><strong>Diversification Analysis:</strong>
                The platform tracked different market sectors and product
                types.
            </p>
        </li>
        <li>
            <p><strong>Transaction Management:</strong>
                Users are able to track transaction history as the portfolio has
                an aggregate transaction table that records the number of shares and the sales/buy price of each
                transaction.
            </p>
        </li>
    </ul>


    <h4>Functionalities</h4>

    <p> <b>User Interface Design:</b>
        <br><b>Data Input:</b> How users input and update investment data, manual entry and data synchronization.
        <br><b>Data Visualization:</b> What type of charts are used
    </p>

    <h4>Logistics</h4>
    <table class="table">
        <th>Total Return of Ticker X</th>
        <td>Initial investment value = number of shares of X * share price when bought in
            Closed transaction to cash = number of shares of X* sold price
            Total return = (number shares of X currently holding * current share price of X + Closed transaction to cash
            - initial investment value)/initial investment value * 100%
        </td>
    </table>
    </table class="table">
</div>

{% endblock %}