{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h2>About</h2>
    <br>
    <!-- TODO add relevant info about vocab, calculations @kara -->

    <h4>User Portfolio Information</h4>
    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Total Holdings</th>
            </tr>
        </thead>
        <!-- Add more rows for additional users -->
    </table>

</div>
{% endblock %}