{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h2>Code Documentation</h2>
    <br>
    <table class="table">
        <tr>
            <th>Function Name</th>
            <th>Definition</th>
        </tr>
        <tr>
            <td>get_tables(self)</td>
            <td>Returns all tables in the database and returns a List of tables in the database.</td>
        </tr>
        </tr>
        <tr>
            <td>get_ticker(self, ticker_id)</td>
            <td>Gets a ticker from the database (table: portfolio) and returns a ticker symbol</td>
        </tr>
        <tr>
            <td>get_tickers(self)</td>
            <td>Gets all tickers from the user's portfolio and returns a list of all tickers in the database.</td>
        </tr>
        <tr>
            <td>is_valid_ticker(self, ticker_id: str)</td>
            <td>Checks if a ticker is a valid ticker symbol and returns a boolean value.
            </td>
        </tr>
        <tr>
            <td>calc_profit(self, ticker_id: str, timestamp: datetime = None)</td>
            <td>Retrieves the market value of a given ticker at a designated timestamp, with the default being the current time.</td>
        </tr>
        <tr>
            <td>get_market_value(self, ticker_id: str, timestamp: datetime = None)</td>
            <td>Retrieves the market value of a given ticker at a designated timestamp, with the default being the current time.</td>
        </tr>

        <tr>
            <td>get_current_price(self, ticker_id: str)</td>
            <td>Get the current price of a ticker which returns the current price of the ticker as a float value.
            </td>
        </tr>
        <tr>
            <td>update_total_return(self, ticker_id: str)</td>
            <td>Update the total return of a ticker in the portfolio. It calculates the total return of a ticker selected from start to today. 
                Total Return = (Ending Value - Beginning Value) / Beginning Value

            </td>
        </tr>

        <tr>
            <td>buy_ticker(self, ticker_id: str, num_shares: int)</td>
            <td>Allow users to select a ticker and specify the numbers of shares that they want to purchase to add in their portfolios.
                This function will return a success message upon a successful purchase, and an error message if any issue arise.
            </td>
        </tr>

        <tr>
            <td>sell_ticker(self, ticker_id: str, num_shares: int)</td>
            <td>Allow users to select a ticker and specify the numbers of shares that they want to sell from their portfolios.
                This function will return a success message upon a successful sale, and an error message if any issue arise.
            </td>
        </tr>

        <tr>
            <td>add_ticker(self, ticker_id: str)</td>
            <td>Adds a ticker to the tickers table if it doesn't already exist and is a valid Yahoo! Finance
            </td>
        </tr>

        <tr>
            <td>add_tickers(self, ticker_ids: list):</td>
            <td>add_tickers Method to add multiple tickers to the database at once. Args:ticker_ids (list): A list of
                tickers to add to the database.
            </td>
        </tr>

        <tr>
            <td>get_ticker_data(self, ticker_id: str)</td>
            <td>get_ticker_data Returns all data for a given ticker in the ticker_data table.m Args: ticker_id (str):
                Ticker
                to get data for.
            </td>
        </tr>

        <tr>
            <td>get_transaction_history(self)</td>
            <td>Returns all transactions in the transactions table.
            </td>
        </tr>

        <tr>
            <td>get_asset_type(self, ticker_id: str)</td>
            <td>Returns the asset type of a ticker.
                Args:
                ticker_id (str): Ticker to get the asset type of.
                Returns:
                str: Asset type of the ticker.
            </td>
        </tr>

        <tr>
            <td>display_portfolio(self)</td>
            <td>display_portfolio Returns all data for the user portfolio.
                Returns: dict: A sorted dict of all data for the user portfolio.
            </td>
        </tr>

        <tr>
            <td>ticker_details(self, ticker_id: str)</td>
            <td>ticker_details Returns all data for a given ticker in the portfolio.
                Args:
                ticker_id (str): Ticker to get data for.

            </td>
        </tr>

        <tr>
            <td>asset_type_breakdown(self)</td>
            <td>asset_type_breakdown Returns the asset type breakdown of the user portfolio.
                Returns:
                dict: A dict of the asset type breakdown of the user portfolio.

            </td>
        </tr>
    </table>
</div>

{% endblock %}